section
{
	margin: 10px auto;
}
label 
{
	float: left;
	font-family: Helvetica, Arial;
	color: black;
	font-size: 12px;
	font-weight: bold;
	line-height: 2;
	margin-left: 10px;
	width: 20%;
}
input
{
	float: right;
	width: 70%;
	margin: 0 10px; 
}

textarea 
{
    margin-left: 7px;
    width: 97%
 }
.label-event 
{
}
.check, .label-eventcheck 
{
	display:  inline;
	width: 10%;
}
.check
{
	float: left;
}
input .check
{
	clear: both; 	
}
.clearer
{clear:  both;}
#info
{
	clear: both;	
}

footer
{
	margin: 80px auto;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

#enviarReal{
	visibility: hidden;
}
.radios>p
{
	float left;
}
.num_check
{
	display: block;
}
span
{
	float: left;
	font-family: Helvetica, Arial;
	color: black;
	font-size: 12px;
	font-weight: bold;
	line-height: 2;
	margin-left: 10px;
	width: 20%;
}
button
{
	float: right;
	margin-right: 10px;
}