
header
{
	height: 50px; /*esto esta mal usado, en realidad debería ir todo dentro de un content para poder hacer float left en header h1 */
	margin: 0 auto;
	padding-top: 1px;
	color:#D4D4D4;
	font-family: sans-serif;
	clear: both;
}

article, footer
{
	word-wrap:break-word;
	clear: both;
	margin: auto;
}

footer 
{
    margin: 80px auto;
}

article.container
{
	clear: both;
	margin: auto;
}
#container
{
	width:  60%;
	margin: 0 auto;
}